<div class="row">
  <div class="col-md-9">

    <form *ngIf="info==null" (ngSubmit)="onSubmit()" [formGroup]="articleForm">

      <div class="form-container">
        <mat-form-field>
          <input type="text" placeholder="select category" formControlName="category" matInput [matAutocomplete]="auto">
          <mat-error *ngIf="getControls.category.invalid">
            {{myValidationService.getValidationMessage(getControls.category,"Category")}}
          </mat-error>
          <mat-autocomplete [displayWith]="displayCategoryName" #auto="matAutocomplete">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="text" placeholder="Title" formControlName="title" matInput>
          <mat-error *ngIf="getControls.title.invalid">
            {{myValidationService.getValidationMessage(getControls.title,"Title")}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" placeholder="Content Summary" formControlName="contentSummary" matInput>
          <mat-error *ngIf="getControls.contentSummary.invalid">
            {{myValidationService.getValidationMessage(getControls.contentSummary,"Content Summary")}}
          </mat-error>
        </mat-form-field>


          <div style="border: solid 1px black;" class="mb-2">
            <ckeditor
            formControlName="contentMain"
            (ready)="onReady($event)"
            [editor]="Editor">
            </ckeditor>

          </div>



        <button [disabled]="loading" color="primary" mat-raised-button>
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Send
        </button>

      </div>
    </form>
    <div role="alert" *ngIf="info!=null" class="alert alert-danger mt-3">
      {{info}}
    </div>

  </div>
  <div class="col-md-3">
    <div class="card text-white bg-primary">
      <div class="card-header">
        Article Picture
      </div>
      <div class="card-body">
        <img [src]="picture || 'assets/default_article.jpg'" class="img-thumbnail">
      </div>
      <div class="card-footer">
        <input (change)="upload($event)" type="file" class="form-control" name="image">
      </div>
    </div>


  </div>
</div>
