<div class="card bg-light mt-3">
  <div class="card-body">
    <div *ngIf="info != null" class="alert" [ngClass]="{ 'alert-primary': success, 'alert-danger': !success }">
      {{ info }}
    </div>

    <form *ngIf="info == null" (ngSubmit)="onSubmit()" [formGroup]="commentForm">
      <div class="form-container">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name..." />
          <mat-error *ngIf="getControls.name.invalid">{{
            myvalidationService.getValidationMessage(getControls.name, "Name")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea rows="5" formControlName="contentMain" matInput placeholder="Your comment..."></textarea>
          <mat-error *ngIf="getControls.contentMain.invalid">{{
            myvalidationService.getValidationMessage(getControls.contentMain,"Comment")
          }}</mat-error>
        </mat-form-field>

        <button [disabled]="commentService.loading" mat-raised-button color="primary">
          Add Comment
          <i *ngIf="commentService.loading" class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>
</div>
